<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto">
        <a class="navbar-brand" href="/v1/"
          ><span class="brand-logo">
            <img src="/images/logo/applogo.png" alt="avatar" height="40" width="40" />
          </span>
          <h2 class="brand-text">SBuilder</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"
          ><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i
          ><i
            class="d-none d-xl-block collapse-toggle-icon font-medium-4 text-primary"
            data-feather="disc"
            data-ticon="disc"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <!-- <li class="nav-item">
        <a class="d-flex align-items-center" href="index.html"
          ><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span
          ><span class="badge badge-light-warning rounded-pill ms-auto me-1">2</span></a
        >
        <ul class="menu-content">
          <li>
            <a class="d-flex align-items-center" href="dashboard-analytics.html"
              ><i data-feather="circle"></i
              ><span class="menu-item text-truncate" data-i18n="Analytics">Analytics</span></a
            >
          </li>
          <li>
            <a class="d-flex align-items-center" href="dashboard-ecommerce.html"
              ><i data-feather="circle"></i
              ><span class="menu-item text-truncate" data-i18n="eCommerce">eCommerce</span></a
            >
          </li>
        </ul>
      </li> -->
      <li class="navigation-header">
        <span data-i18n="Apps &amp; Pages">Apps &amp; Setting</span><i data-feather="more-horizontal"></i>
      </li>

      <li class="<%= page === 'build' && 'active' %> nav-item">
        <a class="d-flex align-items-center" href="/v1/build"
          ><i data-feather="package"></i
          ><span class="menu-title text-truncate" data-i18n="Email">Build History</span></a
        >
      </li>
      <li class="<%= page === 'branches' && 'active' %> nav-item">
        <a class="d-flex align-items-center" href="/v1/branches"
          ><i data-feather="layers"></i><span class="menu-title text-truncate" data-i18n="Chat">App Branches</span></a
        >
      </li>
      <li class="<%= page === 'setting' && 'active' %> nav-item">
        <a class="d-flex align-items-center" href="/v1/setting"
          ><i data-feather="settings"></i><span class="menu-title text-truncate" data-i18n="Todo">Setting</span></a
        >
      </li>
    </ul>
  </div>
</div>
<!-- END: Main Menu-->
